// _layout.scss
header {
  background: #E3B505;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  gap: 40px;

  .left-two-columns {
    flex: 1;

    h1 {
      font-size: 55px;
      line-height: 65px;
    }
  }

  .right-two-columns {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 450px;
      border-radius: 20px;
      background: #ddd;
    }
  }
}

.middle-title {
  padding: 20px 40px 0;
  text-align: center;

  h2 {
    font-size: 45px;
  }
}

.gallery {
  padding: 15px 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .gallery-item {
    text-align: center;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 20px;
      background-color: #ddd;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
    }
  }
}
