// _base.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  margin: 15px 0;
  background-color: #e3b505;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s ease;

  &:hover {
    background-color: #c89c04;
  }
}

.yellow-words {
  font-weight: 600;
  color: #E3B505;
}
